
body {
    display: grid;
}
#navbar {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.link-button-left {
    display: inline-block;
    padding: 1%;
    align-items: flex-start;   
}

.link-button-right {
    display: inline-block;
    padding: 1%;
    float: right;
    text-align: right;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#submit-btns {
    display: flex;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.submit-left {
    display: inline-block;
    padding: 16px;
}

.submit-right {
    display: inline-block;
    padding: 16px;
    float: right;
}

.center {
    margin: auto;
    width: 50%;
}

.row {
    display: flex;
    justify-content: center;
}

.smallImg {
  width: 25%;
  height: 150px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

button {
    padding: 2%;
    border-radius: 3px;
}

.hidden  {
    display: none
}




